p {
      text-align: center;
    }
body { background: darkgray;}


.maindiv{
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;
}

.registrationtext {
  margin-top: 10;
  margin-bottom: 0;

}
