body  {
  background-color: azure;
}
.header {
  background: aquamarine;
  color: aqua
}

.headelement {
  width: 33.3%;
  float: left;
  height: 120px;
  text-align: center;
  background-color: lavender;
}

.headbuttons {
  width: 75%;
  margin: 5px;
  border-radius: 5px;
  height: 30px;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
}

.headtext {
  margin: 5px;
}

.headtextdoit {
  color: black;
  text-decoration: none;
  cursor: default;
}

#logoutbutton{
  background: rgb(212,75,56);
}

#helpbutton{
  background: rgb(64,199,129);
}

.menubuttons {
  width: 24.45%;
  height: 50px;
  float: left;
  margin: 5;
  font-size: 30px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  background: lightsteelblue;
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
}

.menubuttons:hover:note(:active){
  background: greenyellow;
}

.searchtext {
  text-align: center;
  width: 100%;
  margin-left: : 30%;
  margin-right: 30;
}

.radiosearch {
  width: 20%;
  float: left;
  font-size: 25px;
}

.searchbutton {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 15;
}

.serachdiv{
  background: lightskyblue;
}

.boards {
  width: 20%;
  float: left;
  text-align: center;
}

.boardtitle {
  text-align: center;
}

.tasktxt {
  color:#202020;
  text-shadow: 1px 1px 0px #999, -1px -1px 0px #999;
}

.aquabackhround {
  background: aqua;
}

.task_control_button{
  width: 19.78%;
}

.left_div{
  width: 50%;
  float: left;
}

.right_div{
  width: 50%;
  float: right;
}

.archiv_button{
  margin: 2;
  width: 95%;
  height: 40px;
  text-align: center;
  background: lightsteelblue;
  border-radius: 15px;
}

#widthbt{
  width: 100%;
}

#center{
  text-align: center;
}

.remove_board_button{
  width: 20%;
  height: 30px;
}

.half_button{
  width: 50%;
}

.squad_button{
  width: 49.2%;
  height: 45px;
  margin: 5px;
  float: left;
  background: lightsteelblue;
  border-radius: 3px;
}

.textshadow{
  background-color: #666666;
  	    -webkit-background-clip: text;
  	    -moz-background-clip: text;
  	    background-clip: text;
  	    color: transparent;
  	    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

button.button.black {
    width: 40%;
    height: 25px;
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f; }

button.button.black:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }

button.button.black:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }


button.button7 {
      width: 50%;
      height: 45px;
      float: left;
      font-weight: 700;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgb(64,199,129);
      box-shadow: 0 -3px rgb(53,167,110) inset;
      transition: 0.2s;
}
button.button7:hover { background: rgb(53, 167, 110); }
button.button7:active {
      background: rgb(33,147,90);
      box-shadow: 0 3px rgb(33,147,90) inset;
}

button.button28 {
  width: 24.25%;
  height: 50px;
  margin: 5;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
     0 1px rgba(255,255,255,.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
button.button28:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
  }
button.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
}

button.knopka {
  width: 50%;
  height: 45px;
  float: left;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
}
button.knopka:hover { background: rgb(232,95,76); }
button.knopka:active { background: rgb(152,15,0); }
button.button19 {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}
button.button19:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
button.button19:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.long-sadow {
    color: black;
    line-height: 1.2;
    letter-spacing: .1em;
    /* font-size: 8vw; */
    text-decoration: none;
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
      margin: 5px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, .08), 2px 2px 1px rgba(0, 0, 0, .075), 4px 4px 1px rgba(0, 0, 0, .07), 6px 6px 1px rgba(0, 0, 0, .065), 8px 8px 1px rgba(0, 0, 0, .06), 10px 10px 1px rgba(0, 0, 0, .055), 12px 12px 1px rgba(0, 0, 0, .05), 14px 14px 1px rgba(0, 0, 0, .045), 16px 16px 1px rgba(0, 0, 0, .04), 18px 18px 1px rgba(0, 0, 0, .035), 20px 20px 1px rgba(0, 0, 0, .03), 22px 22px 1px rgba(0, 0, 0, .025), 24px 24px 1px rgba(0, 0, 0, .02), 26px 26px 1px rgba(0, 0, 0, .015), 28px 28px 1px rgba(0, 0, 0, .01), 30px 30px 1px rgba(0, 0, 0, .005), 32px 32px 1px rgba(0, 0, 0, .0025), 34px 34px 1px rgba(0, 0, 0, .002), 36px 36px 1px rgba(0, 0, 0, .0015), 38px 38px 1px rgba(0, 0, 0, .001);
}

.hit-the-floor {
color: #fff;
/* font-size: 12em; */
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}
