{% extends 'tasktracker/head.html' %} {% block content %}
<h1 class="textshadow">Create task in {{ group }}</h1>
<form method="post"> {% csrf_token %} {% for field in form %}
  <div>
    {{ field.label_tag }} {{ field }}
  </div>
  {% endfor %}
  <button>Create task</button>
</form>
{% endblock %}
