{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">ARCHIV</h1>
  <button class="button button7" onclick="location.href='{% url 'tasks' %}'">ALL BOARDS</button>
  <button class="button button7" onclick="location.href='{% url 'available'%}'">AVAILABLE</button>
</div>
{% for task in tasks %}
<h2 class="button button7"><a href=" /tasks/{{task.tag}};{{username}} " class="tasktxt ">{{task.tag}}</a></h2> {% endfor %}
<div class="boardtitle ">
  <form method="post "> {% csrf_token %}
    <button type="submit " name="clear " value="ok " class="button knopka" id="widthbt">Clear archiv</button>
  </form>
</div>
{% endblock %}
