{% extends 'tasktracker/head.html' %} {% block content %}
<h3>Tag: {{task.tag}}</h3>
<h3>Date begin: {{task.timing.begin}}</h3> {% if task.timing.end %}
<h3>Date end: {{task.timing.end}}</h3> {% else %}
<h3>Date end:</h3> {% endif %}
<h3>Date create {{task.timing.create}}</h3>
<h3>Date change {{task.timing.change}}</h3>
<h3>Priority: {{task.status.priority.name}}</h3>
<h3>Status: {{task.status.state.name}}</h3>
<h3>Description: {{task.description}}</h3> {% if task.dependencies is not None %}
<h3>Associated with '{{ task.dependencies.task_tag }}' as {{task.dependencies.type.name}}</h3> {% endif %} {% endblock %}
