{% extends 'tasktracker/head.html' %} {% block content %}
<form method="post"> {% csrf_token %} {{ form }}
  <button type="submit" name="create" value="ok">Add Task Manager</button>
</form>
{% endblock %}
