{% extends 'tasktracker/head.html' %} {% block content %}
<form method="post"> {% csrf_token %} {{ form }}
  <button type="submit">Add board</button> {{ message }}
</form>

<button onclick="location.href='/tasks'">Back</button> {% endblock %}
