{% extends 'tasktracker/head.html' %} {% block content %}
<h1>Edit task: {{ tag }} </h1>
<form method="post"> {% csrf_token %}
  <div>
    {{ form }}
  </div>
  <div>
    <button type="submit" name="save" value="ok">Save</button>
    <button type="submit" name="back" value="ok">Back</button>
  </div>
</form>
{% endblock %}
