{% load staticfiles %}
<html>

<head>
  <title>Tasks Tracker</title>
  <link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">
</head>

<body>
  <div>
    <div class="headelement">
      <h1><a class="long-sadow" href="{% url 'main' %}">DO-IT</a></h1>
      <h2 class="hit-the-floor">Hello {{username}}</h2>
    </div>
    <div class="headelement">
      <h1 class="long-sadow">DO-IT</h>
      <h2 class="hit-the-floor">Hello {{username}}</h2>
    </div>
    <div class="headelement">
      <h3 class="long-sadow">Authorized as {{username}}</h3>
      <button class="headbuttons" id="logoutbutton" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
  </div>
  <div>
    <button class="button button28" onclick="location.href='{% url 'search' %}'">Search | Filter</button>
    <button class="button button28" onclick="location.href='{% url 'tasks' %}'">Tasks</button>
    <button class="button button28" onclick="location.href='{% url 'tasks_manangers' %}'">Tasks Managers</button>
    <button class="button button28" onclick="location.href='{% url 'userinfo' %}'">User Info</button>
  </div>
  <div>
    {% block content%} {% endblock %}
  </div>
</body>

</html>
