{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/log.css' %}">
  <link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">
  <style type="text/css">
    button {
      width: 13.5%;
      background: rgb(64, 199, 129);
      border-radius: 5px;
      box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
      0 3px 5px rgba(0, 1, 6, .5),
      0 0 1px 1px rgba(0, 1, 6, .2);
      margin: 5;
      height: 40px;
      margin: 0.5%;
    }

    .main {
      text-align: center;
      vertical-align: middle;
      margin: 5%;
    }

  </style>
</head>

<body>
  <div class="maindiv">
    <form action="" method="post">
      {% csrf_token %}
      <div>
        <h2 class="registrationtext">Username</h2> {% csrf_token %} {{form.username}}
      </div>
      <div>
        <h2 class="registrationtext">Password</h2> {% csrf_token %} {{form.password}}
      </div>
      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
  </div>
</body>

</html>
