{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/log.css' %}">
  <link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">
  <title>DO-IT MAIN</title>
  <style type="text/css">
    button {
      width: 10%;
      font-size: 25px;
      height: 50px;
      color: black;
      border-radius: 5px;
      box-shadow: 0 1px rgba(255, 255, 255, .2) inset,
      0 3px 5px rgba(0, 1, 6, .5),
      0 0 1px 1px rgba(0, 1, 6, .2);
    }

  </style>
</head>

<body>
  <div class="maindiv">
    <div>
      <h1>JUST DO IT</h1>
    </div>
    <div>
      <button onclick="location.href='{% url 'login' %}'" id="helpbutton">Log in</button>
      <button onclick="location.href='{% url 'reg' %}'" id="logoutbutton">Registration</button>
    </div>
  </div>
</body>

</html>
