{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  {% for message in messages %}
  <h2 class="long-sadow">{{ message }}</h2> {% endfor %}
  <form method="post"> {% csrf_token %}
    <button type="submit" name="clear" value="ok" class="button knopka" id="widthbt">Clear</button>
  </form>{% endblock %}
</div>
