{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">AVAILABLE TASKS</h1>
  <button class="button button7" onclick="location.href='{% url 'tasks' %}'">ALL BOARDS</button>
  <button class="button button7" onclick="location.href='{% url 'archiv' %}'">ARCHIV</button>
</div>
{% for task in tasks %}
<h2 class="textshadow"> {{ task.1 }}: <a href=" ../../tasks/access/{{task.1}};{{task.0.tag}}" class="long-shadow">{{ task.0.tag }}<a></h2> {% endfor %} {% endblock %}
