{% extends 'tasktracker/head.html' %} {% block content %}
<div>
  <h2>Tag: {{task.tag}}</h2>
  <p>description: {{task.description|linebreaksbr}}</p>
</div>
<div>
  <h4>Date begin: {{task.timing.begin}}</h4>
  <h4>Date end: {{task.timing.end}}</h4>
</div>
<div>
  <h4>Priority: {{task.status.priority.name}}</h4>
  <h4>Status: {{task.status.state.name}}</h4>
</div>
{% endblock %}
