{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="{% static 'css/log.css' %}">
  <link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">
  <style type="text/css">
    button {
      width: 13.5%;
      height: 40px;
      background: rgb(64, 199, 129);
    }

    div {
      text-align: center;
      vertical-align: middle;
      margin-top: 15%;
    }

  </style>
</head>

<body>
  <div>
    <form action="" method="post">
      <h2 class="registrationtext">Username</h2> {% csrf_token %} {{form.username}}
      <h2 class="registrationtext">Password</h2> {% csrf_token %} {{form.password1}}
      <h2 class="registrationtext">Password confirmation</h2> {% csrf_token %} {{form.password2}}
      <p>
        <button type="submit">Registration</button>
      </p>
    </form>
  </div>
</body>

</html>
