{% extends 'tasktracker/head.html' %} {% block content %}
<h1 class="textshadow">Сlick on the board you want to remove</h1>
<form method="post"> {% csrf_token %}
  <div> {% for group in groups %} {% if group.name != 'archiv' %}
    <button class="button button19" id="remove_board_button" type="submit" name="remove" value="{{group.name}}">{{group.name}}</button> {% endif %} {% endfor %}
  </div>
</form>
{% endblock %}
