 {% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">S E A R C H</h1>
</div>
<form method="post"> {% csrf_token %}
  <div>
    {{ form }}
  </div>
  <div class="boardtitle">
    <button type="submit" name="search" value="ok" class="button button7" id="widthbt">Search</button>
  </div>
</form>
{% for task in tasks %}
<h1><a href="../../tasks/{{task.link_tag}}" class="tasktxt">{{ task.tag }}</a></h1> {% endfor %} {% endblock %}
