{% extends 'tasktracker/head.html' %} {% block content %}
<h3>Tag: {{manager.tag}}</h3>
<h3>Date begin: {{manager.date_begin}}</h3>
<h3>Date end: {{manager.date_end}}</h3>
<h3>Period: {{manager.period}}</h3>
<h3>Last date: {{manager.last_date}}</h3>
<h3>Description: {{manager.description}}</h3>
<form method="post"> {% csrf_token %}
  <button type="submit" name="edit" value="ok" class="task_control_button" id="helpbutton">Edit</button>
  <button type="submit" name="remove" value="ok" class="task_control_button" id="logoutbutton">Remove</button>
</form> {% endblock %}
