{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">T A S K S   M A N A G E R S</h1>
  <button class="button button7" id="widthbt" onclick="location.href='/tasks_manangers/create'">Create Task Manager</button>
</div>
{% for manager in mangers %}
<div>
  <h2 id="center"><a href='{{manager.tag}};{{username}}' class="tasktxt"> {{manager.tag}} </a></h2>
</div>
{% endfor %} {% endblock %}
