{% extends 'tasktracker/head.html' %} {% block content %}
<h3>Tag: {{task.tag}}</h3>
<h3>Date begin: {{task.timing.begin}}</h3> {% if task.timing.end %}
<h3>Date end: {{task.timing.end}}</h3> {% else %}
<h3>Date end:</h3> {% endif %}
<h3>Date create: {{task.timing.create}}</h3>
<h3>Date change: {{task.timing.change}}</h3>
<h3>Priority: {{task.status.priority.name}}</h3>
<h3>Status: {{task.status.state.name}}</h3>
<h3>Description: {{task.description}}</h3> {% if task.dependencies is not None %}
<h3>Associated with <a href="../../tasks/{{task.dependencies.task_tag}};{{username}}"> '{{ task.dependencies.task_tag }}' <a> as {{task.dependencies.type.name}}</h3> {% endif %}

<form method="post"> {% csrf_token %}
  <div>
    <button class="task_control_button" type="submit" name="complete_task" value="ok">Completed</button>
    <button class="task_control_button" type="submit" name="edit" value="ok">Edit</button>
    <button class="task_control_button" type="submit" name="archieved" value="ok">Archiving</button>
    <button class="task_control_button" type="submit" name="remove" value="ok">Remove</button>
  </div>
  <div>
    {{ form }}
    <button type="submit" name="access" value="ok">Give Access Right</button>
    <button type="submit" name="reset" value="ok">Take back access rights</button>
  </div>
  <div>
    {% if task.dependencies is None %} {{ lform }}
    <button type="submit" name="link" value="ok">link</button> {% else %}
    <button type="submit" name="reset_link" value="ok">Reset link</button> {% endif %}
  </div>
  <div>
    <h1>Users who have access to this task</h1> {% for observer in observers %}
    <h4> {{ observer.name }} </h1>
      {% endfor %}
  </div>
</form>
{% endblock %}
