{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">All Boards</h1>
  <button class="button button7" onclick="location.href='archiv'">ARCHIV</button>
  <button class="button button7" onclick="location.href='access'">AVAILABLE</button>
  <button class="button button7" onclick="location.href='/tasks/create_board'">Add board</button>
  <button class="button knopka" onclick="location.href='/tasks/remove_board'">Remove board</button>
</div>
{% for group in groups %} {% if group.name != 'archiv' %}
<div class="boards">
  <h1 class="textshadow"> {{group.name}} </h1> {% for task in group.tasks %}
  <h2><a href="/tasks/{{task.link_tag}}/" class="tasktxt">{{task.tag}}</a></h2> {% endfor %}
  <button type="submit" onclick="location.href='/tasks/add:{{group.name}}'" class="button button19">Add task</button>
</div>
{% endif %} {% endfor %} {% endblock %}
