{% extends 'tasktracker/head.html' %} {% block content %}
<div class="boardtitle">
  <h1 class="textshadow">User Info</h1>
</div>
<div>
  <h2 class="long-sadow">Name: {{user.username}}</h2>
  <h2 class="long-sadow">Cout tasks: {{lent}} </h2>
  <form method="post"> {% csrf_token %}
    <button name="check_tasks" value="ok">Check task</button>
    <button name="notifycation" value="ok">Show Notifycations</button>
  </form>
</div>
{% endblock %}
